## Trying Minimodel

In [71]:
# Load and inspect the provided preprocessed ISPU dataset
import pandas as pd

df = pd.read_csv("./datasets/ispu_preprocessed_4.csv")

# Basic inspection outputs
print("Shape:", df.shape)
print("\nColumns:")
print(df.columns.tolist())

print("\nInfo:")
print(df.info())

print("\nMissing values per column:")
print(df.isna().sum().sort_values(ascending=False).head(20))

print("\nSample rows:")
print(df.head())

df = df.rename(columns={
    "pm_sepuluh": "pm10",
    "pm_duakomalima": "pm25",
    "sulfur_dioksida": "so2",
    "karbon_monoksida": "co",
    "ozon": "o3",
    "nitrogen_dioksida": "no2"
})

pollutant_cols = [
    "pm10",
    "pm25",
    "so2",
    "co",
    "o3",
    "no2"
]

print("\nMissing values (pollutants):")
print(df[pollutant_cols].isna().sum())

print("\nBasic statistics (pollutants):")
print(df[pollutant_cols].describe())

# Check unique categories and stations
print("\nUnique kategori:", df['kategori'].unique())
print("Unique stasiun:", df['stasiun'].unique())

Shape: (16814, 12)

Columns:
['periode_data', 'tanggal', 'stasiun', 'pm_sepuluh', 'pm_duakomalima', 'sulfur_dioksida', 'karbon_monoksida', 'ozon', 'nitrogen_dioksida', 'max', 'parameter_pencemar_kritis', 'kategori']

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16814 entries, 0 to 16813
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   periode_data               16814 non-null  int64
 1   tanggal                    16814 non-null  object
 2   stasiun                    16814 non-null  object
 3   pm_sepuluh                 14648 non-null  float64
 4   pm_duakomalima             6579 non-null   float64
 5   sulfur_dioksida            15059 non-null  float64
 6   karbon_monoksida           15152 non-null  float64
 7   ozon                       15015 non-null  float64
 8   nitrogen_dioksida          15048 non-null  float64
 9   max                        16799 non-null  float64
 10  parameter_pencemar_kritis  15325 non-null  object
 11  kategori                   16814 non-null  object
dtypes: float64(7), int64(1), object(4)
memory usage: 1.5+ MB
None

Missing values per column:
pm_duakomalima               10235
pm_sepuluh                    2166
ozon                          1799
nitrogen_dioksida             1766
sulfur_dioksida               1755
karbon_monoksida              1662
parameter_pencemar_kritis     1489
max                             15
periode_data                     0
tanggal                          0
stasiun                          0
kategori                         0
dtype: int64

Sample rows:
   periode_data     tanggal stasiun  pm_sepuluh  pm_duakomalima  \
0        201001  2010-01-01    DKI1        60.0             NaN
1        201001  2010-01-01    DKI2         NaN             NaN
2        201001  2010-01-01    DKI3         NaN             NaN
3        201001  2010-01-01    DKI4         NaN             NaN
4        201001  2010-01-01    DKI5         NaN             NaN

   sulfur_dioksida  karbon_monoksida  ozon  nitrogen_dioksida   max  \
0              4.0              73.0  27.0               14.0  73.0
1              NaN               NaN   NaN                NaN   0.0
2              NaN               NaN   NaN                NaN   0.0
3              NaN               NaN   NaN                NaN   0.0
4              NaN               NaN   NaN                NaN   0.0

  parameter_pencemar_kritis        kategori
0                        CO          SEDANG
1                       NaN  TIDAK ADA DATA
2                       NaN  TIDAK ADA DATA
3                       NaN  TIDAK ADA DATA
4                       NaN  TIDAK ADA DATA

Missing values (pollutants):
pm10     2166
pm25    10235
so2      1755
co       1662
o3       1799
no2      1766
dtype: int64

Basic statistics (pollutants):
               pm10         pm25           so2            co            o3  \
count  14648.000000  6579.000000  15059.000000  15152.000000  15015.000000
mean      54.104519    75.834625     27.867853     20.296859     53.490709
std       18.970998    24.137308     15.571802     12.182767     40.596764
min        2.000000    10.000000      0.000000      0.000000      2.000000
25%       42.000000    60.000000     15.000000     11.000000     25.000000
50%       55.000000    77.000000     26.000000     18.000000     42.000000
75%       65.000000    91.000000     38.000000     26.000000     71.000000
max      187.000000   287.000000    112.000000    134.000000    314.000000

                no2
count  15048.000000
mean      17.282895
std       11.561253
min        0.000000
25%       10.000000
50%       15.000000
75%       22.000000
max      202.000000

Unique kategori: ['SEDANG' 'TIDAK ADA DATA' 'BAIK' 'TIDAK SEHAT' 'SANGAT TIDAK SEHAT'
 'BERBAHAYA']
Unique stasiun: ['DKI1' 'DKI2' 'DKI3' 'DKI4' 'DKI5']

In [72]:
df_known = df[df["kategori"] != "TIDAK ADA DATA"].copy()
df_unknown = df[df["kategori"] == "TIDAK ADA DATA"].copy()

In [73]:
df_known

,periode_data,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,parameter_pencemar_kritis,kategori
0,201001,2010-01-01,DKI1,60.0,NaN,4.0,73.0,27.0,14.0,73.0,CO,SEDANG
5,201001,2010-01-02,DKI1,32.0,NaN,2.0,16.0,33.0,9.0,33.0,O3,BAIK
10,201001,2010-01-03,DKI1,27.0,NaN,2.0,19.0,20.0,9.0,27.0,PM10,BAIK
15,201001,2010-01-04,DKI1,22.0,NaN,2.0,16.0,15.0,6.0,22.0,PM10,BAIK
20,201001,2010-01-05,DKI1,25.0,NaN,2.0,17.0,15.0,8.0,25.0,PM10,BAIK
...,...,...,...,...,...,...,...,...,...,...,...,...
16809,202508,2025-08-31,DKI1,42.0,70.0,29.0,12.0,15.0,24.0,70.0,PM25,SEDANG
16810,202508,2025-08-31,DKI2,NaN,72.0,45.0,16.0,21.0,16.0,72.0,PM25,SEDANG
16811,202508,2025-08-31,DKI3,28.0,60.0,53.0,8.0,19.0,39.0,60.0,PM25,SEDANG
16812,202508,2025-08-31,DKI4,47.0,59.0,27.0,10.0,18.0,17.0,59.0,PM25,SEDANG
16813,202508,2025-08-31,DKI5,37.0,65.0,25.0,9.0,21.0,34.0,65.0,PM25,SEDANG

In [74]:
df_unknown

,periode_data,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,parameter_pencemar_kritis,kategori
1,201001,2010-01-01,DKI2,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,TIDAK ADA DATA
2,201001,2010-01-01,DKI3,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,TIDAK ADA DATA
3,201001,2010-01-01,DKI4,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,TIDAK ADA DATA
4,201001,2010-01-01,DKI5,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,TIDAK ADA DATA
6,201001,2010-01-02,DKI2,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,TIDAK ADA DATA
...,...,...,...,...,...,...,...,...,...,...,...,...
16317,202505,2025-05-24,DKI4,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,TIDAK ADA DATA
16347,202505,2025-05-30,DKI4,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,TIDAK ADA DATA
16588,202507,2025-07-17,DKI5,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,TIDAK ADA DATA
16672,202508,2025-08-03,DKI4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TIDAK ADA DATA
16744,202508,2025-08-18,DKI1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TIDAK ADA DATA

In [75]:

drop_cols = ["tanggal", "kategori", "periode_data"]

features = [c for c in df_known.columns if c not in drop_cols]

X_train = df_known[features]
y_train = df_known["kategori"]

cat_cols = ["stasiun", "parameter_pencemar_kritis"]

X_unknown = df_unknown[features].copy()

for c in cat_cols:
    X_unknown[c] = X_unknown[c].astype(str).fillna("UNKNOWN")

for c in cat_cols:
    X_train[c] = X_train[c].astype(str).fillna("UNKNOWN")

/var/folders/j5/tk077y5540v8v8why6q7wjc80000gn/T/ipykernel_3162/3576415902.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[c] = X_train[c].astype(str).fillna("UNKNOWN")
/var/folders/j5/tk077y5540v8v8why6q7wjc80000gn/T/ipykernel_3162/3576415902.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[c] = X_train[c].astype(str).fillna("UNKNOWN")

In [76]:
from catboost import CatBoostClassifier

model_imp = CatBoostClassifier(
    iterations=500,
    depth=6,
    learning_rate=0.05,
    verbose=100
)

model_imp.fit(X_train, y_train, cat_features=cat_cols)

0:	learn: 1.4248146	total: 34.7ms	remaining: 17.3s
100:	learn: 0.0068529	total: 1.15s	remaining: 4.55s
200:	learn: 0.0018942	total: 2.22s	remaining: 3.31s
300:	learn: 0.0012988	total: 3.22s	remaining: 2.13s
400:	learn: 0.0007997	total: 4.26s	remaining: 1.05s
499:	learn: 0.0005979	total: 5.23s	remaining: 0us

In [77]:
# X_unknown = df_unknown[features]
# pred_kategori = model_imp.predict(X_unknown)
pred_kategori = model_imp.predict(
    X_unknown,
    prediction_type='Class'
).ravel()      # <-- ini yang bikin 1D
df_unknown["kategori"] = pred_kategori

df_filled = pd.concat([df_known, df_unknown]).sort_values("tanggal")

In [78]:
model_imp.save_model("catboost_minimodel_2.cbm")

In [82]:
df_filled["kategori"].value_counts()

kategori
SEDANG                10420
BAIK                   3775
TIDAK SEHAT            2418
SANGAT TIDAK SEHAT      200
BERBAHAYA                 1
Name: count, dtype: int64

In [83]:
df_filled.to_csv("ispu_5_tobeimpute.csv", index=False)

In [16]:
split_date = df_filled["tanggal"].quantile(0.8)

train = df_filled[df_filled["tanggal"] <= split_date]
test  = df_filled[df_filled["tanggal"] > split_date]

drop_cols = [
    "tanggal",
    "kategori",
    "parameter_pencemar_kritis",
    "periode_data", 
    "max"
]

features = [c for c in df_filled.columns if c not in drop_cols]

X_train = train[features]
y_train = train["kategori"]

X_test = test[features]
y_test = test["kategori"]

In [ ]:
split_date = df_filled["tanggal"].quantile(0.8)

train = df_filled[df_filled["tanggal"] <= split_date]
test  = df_filled[df_filled["tanggal"] > split_date]

drop_cols = [
    "tanggal",
    "kategori",
    "parameter_pencemar_kritis",
    "periode_data", 
    "max"
]

features = [c for c in df_filled.columns if c not in drop_cols]

X_train = train[features]
y_train = train["kategori"]

X_test = test[features]
y_test = test["kategori"]

In [ ]:
split_date = df_filled["tanggal"].quantile(0.8)

train = df_filled[df_filled["tanggal"] <= split_date]
test  = df_filled[df_filled["tanggal"] > split_date]

drop_cols = [
    "tanggal",
    "kategori",
    "parameter_pencemar_kritis",
    "periode_data", 
    "max"
]

features = [c for c in df_filled.columns if c not in drop_cols]

X_train = train[features]
y_train = train["kategori"]

X_test = test[features]
y_test = test["kategori"]

In [17]:
X_train

      stasiun  pm10  pm25   so2    co    o3   no2
0        DKI1  60.0  51.0   4.0  73.0  27.0  14.0
5        DKI1  32.0  51.0   2.0  16.0  33.0   9.0
10       DKI1  27.0  51.0   2.0  19.0  20.0   9.0
15       DKI1  22.0  51.0   2.0  16.0  15.0   6.0
20       DKI1  25.0  51.0   2.0  17.0  15.0   8.0
...       ...   ...   ...   ...   ...   ...   ...
13433    DKI5  35.0  66.0  26.0  16.0  53.0  16.0
13438    DKI5  51.0  74.0  27.0  16.0  64.0  16.0
13443    DKI5  51.0  76.0  42.0  17.0  39.0  49.0
13448    DKI5  11.0  78.0  29.0  19.0  42.0  21.0
13453    DKI5  53.0  85.0  28.0  17.0  43.0  15.0

[13454 rows x 7 columns]

## Trying XGB

In [62]:
# Load and inspect the provided preprocessed ISPU dataset
import pandas as pd

df_xgb = pd.read_csv("./datasets/ispu_imputed_fixed.csv")

# Basic inspection outputs
print("Shape:", df_xgb.shape)
print("\nColumns:")
print(df_xgb.columns.tolist())

print("\nInfo:")
print(df_xgb.info())

print("\nMissing values per column:")
print(df_xgb.isna().sum().sort_values(ascending=False).head(20))

print("\nSample rows:")
print(df_xgb.head())

df_xgb = df_xgb.rename(columns={
    "pm_sepuluh": "pm10",
    "pm_duakomalima": "pm25",
    "sulfur_dioksida": "so2",
    "karbon_monoksida": "co",
    "ozon": "o3",
    "nitrogen_dioksida": "no2"
})

pollutant_cols = [
    "pm10",
    "pm25",
    "so2",
    "co",
    "o3",
    "no2"
]

print("\nMissing values (pollutants):")
print(df_xgb[pollutant_cols].isna().sum())

print("\nBasic statistics (pollutants):")
print(df_xgb[pollutant_cols].describe())

# Check unique categories and stations
print("\nUnique kategori:", df_xgb['kategori'].unique())
print("Unique stasiun:", df_xgb['stasiun'].unique())

Shape: (15347, 12)

Columns:
['tanggal', 'stasiun', 'pm_sepuluh', 'pm_duakomalima', 'sulfur_dioksida', 'karbon_monoksida', 'ozon', 'nitrogen_dioksida', 'periode_data', 'max', 'parameter_pencemar_kritis', 'kategori']

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15347 entries, 0 to 15346
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   tanggal                    15347 non-null  object
 1   stasiun                    15347 non-null  object
 2   pm_sepuluh                 15347 non-null  float64
 3   pm_duakomalima             15347 non-null  float64
 4   sulfur_dioksida            15347 non-null  float64
 5   karbon_monoksida           15347 non-null  float64
 6   ozon                       15347 non-null  float64
 7   nitrogen_dioksida          15347 non-null  float64
 8   periode_data               15347 non-null  int64
 9   max                        15347 non-null  float64
 10  parameter_pencemar_kritis  15303 non-null  object
 11  kategori                   15347 non-null  object
dtypes: float64(7), int64(1), object(4)
memory usage: 1.4+ MB
None

Missing values per column:
parameter_pencemar_kritis    44
tanggal                       0
stasiun                       0
pm_sepuluh                    0
pm_duakomalima                0
sulfur_dioksida               0
karbon_monoksida              0
ozon                          0
nitrogen_dioksida             0
periode_data                  0
max                           0
kategori                      0
dtype: int64

Sample rows:
      tanggal stasiun  pm_sepuluh  pm_duakomalima  sulfur_dioksida  \
0  2010-01-01    DKI1   46.000000        71.58465         3.000000
1  2010-01-02    DKI1   39.666667        71.58465         2.666667
2  2010-01-03    DKI1   27.000000        71.58465         2.000000
3  2010-01-04    DKI1   24.666667        71.58465         2.000000
4  2010-01-05    DKI1   25.666667        71.58465         2.333333

   karbon_monoksida       ozon  nitrogen_dioksida  periode_data   max  \
0         44.500000  30.000000          11.500000        201001  73.0
1         36.000000  26.666667          10.666667        201001  33.0
2         17.000000  22.666667           8.000000        201001  27.0
3         17.333333  16.666667           7.666667        201001  22.0
4         18.333333  16.333333           8.333333        201001  25.0

  parameter_pencemar_kritis kategori
0                        CO   SEDANG
1                        O3     BAIK
2                      PM10     BAIK
3                      PM10     BAIK
4                      PM10     BAIK

Missing values (pollutants):
pm10    0
pm25    0
so2     0
co      0
o3      0
no2     0
dtype: int64

Basic statistics (pollutants):
               pm10          pm25           so2            co            o3  \
count  15347.000000  15347.000000  15347.000000  15347.000000  15347.000000
mean      53.632962     75.704033     27.907156     20.007620     52.699982
std       16.484777     14.772448     15.141898     10.630050     36.672190
min        4.333333     11.000000      0.000000      1.000000      3.000000
25%       44.000000     70.503356     16.000000     11.896952     25.333333
50%       54.986165     74.221068     26.000000     17.888889     43.666667
75%       63.666667     84.873677     38.000000     26.000000     71.666667
max      148.333333    251.000000     77.000000     86.947456    297.666667

                no2
count  15347.000000
mean      17.200745
std       10.564151
min        0.666667
25%       10.333333
50%       15.333333
75%       21.333333
max      136.000000

Unique kategori: ['SEDANG' 'BAIK' 'TIDAK SEHAT' 'SANGAT TIDAK SEHAT' 'BERBAHAYA']
Unique stasiun: ['DKI1' 'DKI2' 'DKI4' 'DKI3' 'DKI5']

In [64]:
df_xgb["tanggal"] = pd.to_datetime(df_xgb["tanggal"])
split_date = df_xgb["tanggal"].quantile(0.8)

train = df_xgb[df_xgb["tanggal"] <= split_date]
test  = df_xgb[df_xgb["tanggal"] > split_date]

drop_cols = [
    "tanggal",
    "kategori",
    "parameter_pencemar_kritis",
    "periode_data", 
    "max"
]

features = [c for c in df_xgb.columns if c not in drop_cols]

X_train = train[features]
y_train = train["kategori"]

X_test = test[features]
y_test = test["kategori"]

In [65]:
# xgb buat yg 5 kategori dgn berbahaya 
from sklearn.preprocessing import LabelEncoder

le_station = LabelEncoder()
X_train["stasiun"] = le_station.fit_transform(X_train["stasiun"])
X_test["stasiun"] = le_station.transform(X_test["stasiun"])

le_target = LabelEncoder()
y_train_enc = le_target.fit_transform(y_train)
y_test_enc = le_target.transform(y_test)

/var/folders/j5/tk077y5540v8v8why6q7wjc80000gn/T/ipykernel_3162/1965619504.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train["stasiun"] = le_station.fit_transform(X_train["stasiun"])
/var/folders/j5/tk077y5540v8v8why6q7wjc80000gn/T/ipykernel_3162/1965619504.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["stasiun"] = le_station.transform(X_test["stasiun"])

In [ ]:
# from sklearn.preprocessing import LabelEncoder

# le_station = LabelEncoder()
# X_train["stasiun"] = le_station.fit_transform(X_train["stasiun"])
# X_test["stasiun"] = le_station.transform(X_test["stasiun"])

# le_target = LabelEncoder()
# y_train_enc = le_target.fit_transform(y_train)
# y_test_enc = le_target.transform(y_test)

/var/folders/j5/tk077y5540v8v8why6q7wjc80000gn/T/ipykernel_3162/2587298580.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train["stasiun"] = le_station.fit_transform(X_train["stasiun"])
/var/folders/j5/tk077y5540v8v8why6q7wjc80000gn/T/ipykernel_3162/2587298580.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["stasiun"] = le_station.transform(X_test["stasiun"])

In [ ]:
!pip install xgboost

In [66]:
from xgboost import XGBClassifier

model = XGBClassifier(
    n_estimators=1000,
    max_depth=6,
    learning_rate=0.05,
    objective='multi:softmax',
    num_class=3,
    eval_metric='mlogloss',
    use_label_encoder=False,
    verbosity=1
)

model.fit(X_train, y_train_enc)

from sklearn.metrics import classification_report

y_pred_enc = model.predict(X_test)
y_pred = le_target.inverse_transform(y_pred_enc)

print(classification_report(y_test, y_pred))

/Users/gracewhyn/Library/Python/3.9/lib/python/site-packages/xgboost/core.py:158: UserWarning: [09:30:51] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

                    precision    recall  f1-score   support

              BAIK       0.58      0.68      0.63       362
SANGAT TIDAK SEHAT       0.00      0.00      0.00         1
            SEDANG       0.86      0.89      0.88      2378
       TIDAK SEHAT       0.54      0.31      0.40       326

          accuracy                           0.80      3067
         macro avg       0.50      0.47      0.47      3067
      weighted avg       0.79      0.80      0.80      3067

In [70]:
feature_cols = X_train.columns.tolist()
pickle.dump(feature_cols, open("feature_cols.pkl", "wb"))

In [67]:
model.save_model("xgb_5kategori_berbahaya.json")

In [68]:
import pickle

pickle.dump(le_station, open("le_station_5kategori.pkl", "wb"))
pickle.dump(le_target, open("le_target_5kategori.pkl", "wb"))

In [ ]:
model.save_model("catboost_kategori.cbm")

In [36]:
model = CatBoostClassifier(
    iterations=1000,
    depth=6,
    learning_rate=0.05,
    loss_function='MultiClass',
    verbose=200
)

model.fit(X_train, y_train, cat_features=["stasiun"])

from sklearn.metrics import classification_report
print(classification_report(y_test, model.predict(X_test)))

0:	learn: 1.0274199	total: 7.12ms	remaining: 7.11s
200:	learn: 0.1120406	total: 822ms	remaining: 3.27s
400:	learn: 0.0835654	total: 1.58s	remaining: 2.37s
600:	learn: 0.0706214	total: 2.32s	remaining: 1.54s
800:	learn: 0.0617228	total: 3.07s	remaining: 762ms
999:	learn: 0.0552445	total: 3.8s	remaining: 0us
              precision    recall  f1-score   support

        BAIK       0.68      0.85      0.76       386
      SEDANG       0.97      0.95      0.96      2590
 TIDAK SEHAT       0.97      0.86      0.91       384

    accuracy                           0.93      3360
   macro avg       0.87      0.89      0.88      3360
weighted avg       0.93      0.93      0.93      3360

In [46]:
model.save_model("catboost_kategori.cbm")

In [37]:
sample = pd.read_csv("sample_submission.csv")
sample.head()

                id  category
0  2025-09-01_DKI1       NaN
1  2025-09-01_DKI2       NaN
2  2025-09-01_DKI3       NaN
3  2025-09-01_DKI4       NaN
4  2025-09-01_DKI5       NaN

In [39]:
sample[["tanggal", "stasiun_kode"]] = sample["id"].str.split("_", expand=True)

sample["tanggal"] = pd.to_datetime(sample["tanggal"])

In [38]:
sample

                  id  category
0    2025-09-01_DKI1       NaN
1    2025-09-01_DKI2       NaN
2    2025-09-01_DKI3       NaN
3    2025-09-01_DKI4       NaN
4    2025-09-01_DKI5       NaN
..               ...       ...
450  2025-11-30_DKI1       NaN
451  2025-11-30_DKI2       NaN
452  2025-11-30_DKI3       NaN
453  2025-11-30_DKI4       NaN
454  2025-11-30_DKI5       NaN

[455 rows x 2 columns]

In [41]:
station_map = {}

for s in df_filled["stasiun"].unique():
    for kode in ["DKI1","DKI2","DKI3","DKI4","DKI5"]:
        if kode in s:
            station_map[kode] = s

station_map
# sample["stasiun"] = sample["stasiun_kode"].map(station_map)

sample["stasiun"] = sample["stasiun_kode"].map(station_map)

In [ ]:
pollutant_cols = ["pm10","pm25","so2","co","o3","no2"]

med = df_filled.groupby("stasiun")[pollutant_cols].median().reset_index()
sample = sample.merge(med, on="stasiun", how="left")

In [44]:
feature_cols = model.feature_names_
X_submit = sample[feature_cols]

sample["category"] = model.predict(X_submit).ravel()

# feature_cols = model.feature_names_
# X_submit = sample[feature_cols]

# pred = model.predict(X_submit).ravel()

# sample["category"] = pred

In [45]:
submission = sample[["id","category"]]
submission.to_csv("submission_4.csv", index=False)

## coba latih pake data yang 4 kategori dan